/* TODO: buttons, editor, date, sort modal, hover over date to get created time */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 24, 24);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /*
    font-family: Georgia, serif;
    font-family: 'Source Serif Pro', serif;
    font-family: 'PT Serif', serif;
    */


}

#topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topnav-buttons li {
    list-style: none;
    display: inline-block;
}

#topnav-buttons {
    margin-right: 23px;
}

h1 {
    margin-left: 23px;
    margin-top: 0.5em;
    font-size: 2em;
    display: inline-block;
}
button, input, ul, li {
    display: none;
}

#navButtons {
    text-align: right;
}

#newNote {
    margin-top: 15px;
    font-weight: 400;
    font-size: 2em;
    width: 1.2em;
    height: 1.2em;
    line-height: em;
    border: 0.05em solid white;
    color: lightgray;
    box-sizing: content-box; 
    border-radius: 50%;
    border-color: rgb(228, 228, 228);
    background-color: rgb(40, 43, 43);
    background-color: rgb(36, 34, 34);
    text-align: center;
}

#newNote:hover {
    transition: 0.1s;
    color: rgb(228, 228, 228);
    color: white;
    background-color: rgb(40, 43, 43);
    border-color: white;
}

#hamburger{
    position: relative;
    margin-left: 0.25em;
    font-weight: 400;
    font-size: 2em;
    width: 1.2em;
    height: 1.2em;
    line-height: em;
    border: 0.05em solid white;
    color: lightgray;
    box-sizing: content-box; 
    border-radius: 50%;
    border-color: rgb(228, 228, 228);
    background-color: rgb(40, 43, 43);
    background-color: rgb(36, 34, 34);
    text-align: center;
}

li.note.displayed {
    display: block;
}

#notesDisplay.displayed, #topnav-buttons.displayed {
    display: block;
}

#hamburgerMenu.displayed {
    display: block;
    position: absolute;
    right: 20%;
    top: 120%;
    width: 220px;
    background-color: lightgray;
    color: black;
}

#hamburgerMenu li {
    font-size: 16px;
    width: 220px;
    padding: 10px 15px;
    border-bottom: 1px solid white;
}

#hamburgerMenu li:last-child {
    border-bottom: 0;
}

.note {
    list-style-type: none;
    padding: 0.8em;
    padding: 2.8em;
    margin: 0.4em;
    margin: 1.4em;
    border-left: 0.05em solid rgb(72, 82, 92); 
    background-color: rgb(36, 34, 34);
    line-height: 1.5em;
    border-radius: 0.15em;
    color: rgb(179, 181, 202);
    font-family: 'Noto Serif', serif;
}

.note:hover {
    transition: .2s;
    transition: background-color 0.3s, color 0.15s, border-left 0.05s;
    transition: background-color 0.2s, color 0.15s, border-left 0.05s;
    background-color: rgb(40, 43, 43);
    color: rgb(205, 206, 216);
    border-left: 0.05em solid rgb(72, 82, 92, 0.5); 

}
.date {
    display: inline-block;
    margin-bottom: 0.5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}